footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(to right, #9d68c7, #6a0dad);
    height: 12em;
    padding-bottom: 0px;
    margin: 0px;

}

.foot1,.foot2,.foot3{

    width: 20em;
    height: 56px;
    border-left: 1px solid #f2f1ef ;
    justify-content: center;
    justify-content: space-between;
    padding-right: 0px;
    padding-left: 8em;
    color: #cbcac8;
   
}

article{
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    padding-left: -12em;
    overflow: hidden;
    flex-wrap: nowrap;
    height: 12em;

}